/models/__pycache__/
/ldm/__pycache__/
/__pycache__/
/models/transformer/__pycache__/
/results/__pycache__/
.ssh/
*.err
*.out
results/AWAN/*.png
results/GT/*.png
results/HSCNN_Plus/*.png
results/MPRNet/*.png
results/MST_L/*.png
results/MSTPlusPlus/*.png
results/Restormer/*.png
results/SSTransformer_orig/*.png
results/SSTransformer_orig_no_rpe/*.png
results/SSTransformer_orig_no_spatial/*.png
results/SSTransformer_orig_no_spectral/*.png